

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual envs
.venv/
venv/
env/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Local config / secrets
.env
*.env
__pycache__/db.cpython-312.pyc
__pycache__/db.cpython-312.pyc
__pycache__/ingest_paper.cpython-312.pyc
__pycache__/section_summarizer.cpython-312.pyc
